[Unit]
Description=Supernode Service

[Service]
ExecStart=/root/supernode-service-0.2.0/supernodeStart.sh
Restart=always

[Install]
WantedBy=multi-user.target
