[Unit]
Description=Supernode Service

[Service]
Type=oneshot
ExecStart=/root/supernode-service-master/supernodeStart.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
